

.freshness{
    font-size: 90px;
    font-weight: bold;
    line-height: 1;

    
}
.freshness:hover{
    color: #ffda5f;
}
.delevery{
    background-color: #28a745; /* Success background color (green) */
  border-radius: 20px; /* Rounded corners */
  padding: 10px; /* Optional padding for spacing around the text */
  color: #fff; /* Text color */
  display: inline-block; /* Ensures the div size is based on its content */
  background-size: cover; /* Background size covering the content */
}
.links-inline h5:hover {
    color: #ffda5f; /* Change the color to your desired hover color */
    cursor: pointer;
    text-decoration:none;
  }
  

