
.home{
   
  height: auto;
  width: 100%;
  background-image: linear-gradient(to left bottom, #e90000, #bf000b, #95000e, #6c000a, #460000);
  
   /* background-image: linear-gradient(to right top, #093705, #1b4809, #2e5a0b, #436c0b, #5a7e09); */
  
}
.pizza-img{
 
  height:200px;
  filter: drop-shadow( 4px 10px 10px rgba(0,0,0,0.3));
  filter: brightness(4px 10px 10px);
  
}
.heading{
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 90px;
}
.heading_btn-1{
  height: 10px;
  width: 18vh;
}
.explore{
  background-color: rgb(173, 104, 0);

}
.arrow_btn{
  width: 50vh;
}
.box-1{
 
  height: auto;
  padding: 10px;
  box-shadow: #460000;
  background-image: linear-gradient(to left bottom, #e90000, #bf000b, #95000e, #6c000a, #460000);
  /* background-image: linear-gradient(to right top, #093705, #1b4809, #2e5a0b, #436c0b, #5a7e09); */
  border-radius: 1%;
}
.box-1:hover{
  background-image: linear-gradient(to right top, #fbfbfb, #f9f9f9, #f7f8f7, #f6f6f6, #f4f4f4);
}
.headingIcon{
  color: #f6f6f6;

}
.headingIcon:hover{
  color: rgb(125, 0, 0);
}

.carrd {
  position: relative;
  overflow: hidden;
  border-radius: 1%;
}

.carrd::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for the desired transparency */
}

.card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.card-text h1,
.card-text p {
  color: #fff; /* Text color for the overlay */
}
/* 
  
  @media screen and (max-width: 768px) {
    .box {
      flex-direction: column;
    }
  
    .text-1,
    .model-1 {
      flex-basis: 100%;
    }
  
    .model-1 img {
      max-width: 100%; 
    }
  }
  .paragraph{

    flex-basis: 50%;
  }
  .heading,.paragraph,.btn{
    width: 100%;

  }
  
  .heading,.paragraph{
    padding: 0;
    margin: 0;
  }
  .heading{
    margin-top: 200px;
    font-family: cursive;
  }

  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .mdbtn{
    flex-basis: 10%;
  }

 .container-card{
    display: flex;
    flex-direction: row;
padding: 10px;
    width: 100%;
    height: auto;
    background-color: #001524;
    flex-wrap: wrap;
    justify-content: center;
 }
 .para-1{
    margin: 10px;
    padding: 10px;
    height: 250px;
    width:250px ;
   background-color:#FFC436;
    color:#001524;
    border-top-right-radius: 5%;
    text-align: justify;
    display: flex;
   min-height: 300px;
   max-width: 400px;
  cursor: pointer;
  
    
 }
 .para_1_text{
    padding: 10px;

 }
 .para-1:hover{
    background-color:#618264;
    color: white;

 } */